<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C92C82C1F45A07B005FA7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C92C8451F45A07C005FA7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C92C8501F45A07C005FA7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
